#dayofweek {
  color: white;
  width: auto;
  height: auto;
  margin: auto;
  font-size: 250px;
  text-align: center;
}

#clock {
 color: white;
 width: auto;
 height: auto;
 margin: auto;
 font-size: 350px;
 text-align: center;
}

#timeofday {
  color: white;
  width: auto;
  height: auto;
  margin: auto;
  font-size: 100px;
  text-align: center;
}

#dayofmonth {
  color: white;
  width: 20%;
  height: auto;
  margin: auto;
  font-size: 100px;
  text-align: center;
}

#month {
  color: white;
  width: 60%;
  height: auto;
  margin: auto;
  font-size: 100px;
  text-align: center;
}

#year {
  color: white;
  width: 20%;
  height: auto;
  margin: auto;
  font-size: 100px;
  text-align: left;
}

#date {
  color: white;
  width: 100%;
  height: auto;
  margin: auto;
  font-size: 100px;
  text-align: center;
}

body {
  background-color: rgb(35, 37, 39);
  width: auto;
  height: auto;
}